<!DOCTYPE html>
<html>
    <head>
        <title>First Azure-based application</title>
        <link rel=StyleSheet href="/assets/main.css" type="text/css">
    </head>
    <body>
	    <div id="content">
        <h1>IntraworQ Sp. z o.o.</h1>
        <h2>{{ location }}</h2>
        <div id="left" class="module">
	        <h2>LEFT</h2>
	    </div>
        <div id="middle" class="module">
	        <h2>MIDDLE</h2>
        </div>
        <div id="right" class="module">
	        <h2>RIGHT</h2>
        </div>
	    </div>
    </body>
</html>
